.about-us {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px;
  overflow: scroll;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;

    .hamburger {
      position: fixed;
      top: 10px;
      right: 10px;
      font-size: 48px; /* ハンバーガーメニューのサイズを2倍に */
      cursor: pointer;
      z-index: 1001;
    }

    .menu {
      position: fixed;
      right: 10px;
      top: 60px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 5px;
      z-index: 1000;

      button {
        padding: 8px 16px;
        font-size: 1rem;
        text-align: left;
        width: 100%;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    .branding {
      text-align: center;
      margin-bottom: 20px; /* 詰めた間隔 */

      .logo {
        font-size: 28px;
        font-weight: bold;
        color: #3269ce;
      }

      .image img {
        width: 250px;
        height: auto;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin-top: 5px; /* 詰めた間隔 */

        li {
          font-size: 1.2rem; /* 文字を少し大きく */
          line-height: 1.5;
        }
      }
    }

    section {
      padding: 10px 20px; /* 上の余白を減らす */
      margin-top: 10px; /* 詰めた間隔 */
      background-color: #f9f9f9;
      border-radius: 8px;
      display: flex;
      justify-content: center;

      h3 {
        font-size: 1.25rem;
        color: #333;
        margin-bottom: 10px; /* 詰めた間隔 */
        font-weight: bold;
      }

      ul {
        list-style-type: disc;
        padding-left: 20px;
        text-align: left; /* 中央揃えから左寄せに変更 */

        li {
          font-size: 0.95rem;
          line-height: 1.4;
        }
      }
    }
  }
}
