.about-us {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px;
  overflow: scroll;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    a {
      color: #0066cc;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      word-break: break-all;
    }

    .branding {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 40px;
      .logo {
        font-size: 28px; // フォントサイズ
        font-weight: bold; // フォントウェイト
        margin-top: 10px;
        color: #3269ce; // 涼しげな色（水色）
      }
      .image img {
        width: 250px; // 画像サイズを2倍に
        height: auto; // アスペクト比を維持
      }
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5; // 行間
    margin-bottom: 1rem;
  }

  h2, h3 {
    font-size: 1.5rem; // サイズ
    color: #333; // 色
    margin-top: 30px; // 上余白
    margin-bottom: 1rem;
  }

  .goto-form {
    button {
      position: absolute;
      bottom: calc(32px + env(safe-area-inset-bottom));
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      z-index: 99999;
      background-color: #007BFF; // 青色をはっきり
      border: none;
      color: white; // ボタン内文字色を白に
      padding: 12px 24px; // パディング
      font-size: 16px; // フォントサイズ
      border-radius: 5px; // 角の丸み
      display: block;
      box-sizing: border-box;
      cursor: pointer;

      svg {
        display: block;
        width: 24px;
        height: 24px;
      }

      &:hover {
        background-color: #0056b3; // ホバー時の背景色を濃い青に
      }
    }
  }
}

// Hack for Edge to eliminate calc(env())
@supports (-ms-ime-align: auto) {
  .goto-form button {
    bottom: 32px;
  }
}
// Also hack for IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .goto-form button {
    bottom: 32px;
  }
}
