.head {
  padding: 0 16px;
  background-color: var(--primary-color); /* 余計なセミコロンを削除 */
  box-sizing: border-box;
  height: 44px;
  text-align: right;
}

.images {
  width: 100%;
  min-height: calc(100vh - 44px); /* ヘッダーの高さを引いて計算 */
  box-sizing: border-box;
  overflow: auto; /* スクロールを自動で表示 */
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */

  &::-webkit-scrollbar {
    display: none; /* スクロールバーを非表示にする */
  }

  .container {
    margin: 0;
    padding: 10px;
    padding-bottom: 20px;
    overflow: auto; /* スクロールを自動で表示 */
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      background-color: #ffffff;
    }

    #mui-image-list {
      -ms-overflow-style: none; /* IE, Edge 対応 */
      scrollbar-width: none; /* Firefox 対応 */

      &::-webkit-scrollbar {
        display: none;
      }

      .mui-image-list-item {
        overflow: hidden;
      }
    }
  }
}
