.tabbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130%;
  padding-right: 8px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly; // アイテム間のスペースを均等に

    li {
      width: 25%; // 4つのアイテムがある場合、各アイテムの幅を25%に設定
      text-align: center;
    }

    a {
      color: rgb(153, 153, 153);
      text-decoration: none;

      .icon {
        line-height: 25px;
      }

      .text {
        font-size: 11px;
      }
    }
  }
}
